header {
  width: 100%;
}

.input-controls {
  text-align: center;
}

.input-controls > div {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  align-items: center;
  margin: 2rem auto;
}

.refresh {
  cursor: pointer;
  font-size: 3.5rem;
}

.input-controls select {
  width: 90%;
  padding: .5rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  background: rgb(127, 83, 228);
  color: rgb(235, 229, 251);
}

.input-controls select option {
  font-size: 1rem;
}

@media only screen and (min-width: 650px) {
  .input-controls {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2rem 1rem;
  }

  .input-controls select {
  padding: 0 .5rem;
  margin-top: 0;
  }
  
  .input-controls > div {
    width: 70%;
    margin: 0;
  }

  .refresh {
    font-size: 2.5rem;
  }

}

@media only screen and (min-width: 850px) {
  .input-controls {
    margin: 2rem 4rem;
  }
}

@media only screen and (min-width: 1120px) {
  .input-controls {
    margin: 2rem 6rem;
  }
}


