header {
  width: 95%;
  margin: 2rem auto 0 auto;
}

header input,
header button {
  display: inline-block;
  width: 45%;
  height: 2rem;
  padding: 0;
  border: none;
  vertical-align: middle;
}

header input {
  margin: 0 5% 0 0;
}

header button {
  margin: 0 0 0 5%;
}

header button {
  font-size: 1.1rem;
}

header select {
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

header select option {
  font-size: 1rem;
}

.scheme-container {
  margin: 1rem 0;
}

.colour-test {
  color: rgb(123, 107, 245);
}


