header {
  width: 100%;
}

.input-controls {
  text-align: center;
}

.input-controls > div {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  align-items: center;
  margin: 2rem auto;
}

.refresh {
  font-size: 3.5rem;
}

.input-controls select {
  width: 90%;
  padding: .5rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  background: rgb(127, 83, 228);
  color: rgb(235, 229, 251);
}

.input-controls select option {
  font-size: 1rem;
}

/* .scheme-container {
  margin: 1rem 0;
} */


