.colour-input {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.colour-input input {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%);
}

@media only screen and (min-width: 650px) {
    .colour-input {
        width: 3rem;
        height: 3rem;
    }
}