.screen-display {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: -50%;
}

.screen-header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.site-name {
    font-size: 1.3rem;
}

.menu-btn {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-btn div {
    width: 100%;
    height: 5px;
    border-radius: 4px;
}

.hide-mob {
    display: none;
}

.screen-landing {
    height: 90%;
    padding: 4rem 0 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen-landing h1 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.3rem;
}

.screen-landing h2 {
    margin: 4rem auto 0 auto;
    width: 70%;
    font-size: 1.2rem;
    text-align: center
}

.screen-landing-animate {
    width: 80%;
    margin: -1rem auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.screen-landing-animate div {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.screen-landing-animate div:nth-child(2) {
    transform: translateY(2rem);
}
.action-btns {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.action-btns button {
    border: none;
    font-size: 1.1rem;
    padding: .75rem .5rem;
    border-radius: 6px;
}

@media only screen and (min-width: 760px) {
    .screen-display {
        top: -20%;
    }

    .menu-btn {
        display: none;
    }
    
    .hide-mob {
        display: block;
    }

    .site-links {
        width: 30%;
    }

    .site-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
    }

    .site-links ul li {
        cursor: pointer;
        font-size: 1.2rem;
    }

    .screen-landing {
        padding: 4rem 10% 2rem 10%;
    }

    .screen-landing-animate {
        width: 60%;
    }

    .action-btns {
        width: 50%;
    }

    .action-btns button {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1000px) {
    .site-links {
        width: 25%;
    }

    .screen-landing-animate {
        width: 40%;
    }

    .action-btns {
        width: 40%;
    }

    .screen-landing h1 {
        margin: 0 auto;
        width: 90%;
        font-size: 3rem;
    }
    
    .screen-landing h2 {
        width: 80%;
        font-size: 1.6rem;
    }
}